:root {
    --primary-color: #ffffff;
    --secondary-color: #e87427;
    --seta-menu: #BE4A29;
    --background-color: #ffffff;
    --text-color: #000000;
    --text-secundary-color: white;
    --input-text-color: #d7dde0;
}

body {
    font-family: Arial, sans-serif;

    margin: 0;
    padding: 0;

    height: 100vh;
}



.header {
    background-color: var(--primary-color);
    padding: 0 15% 0 15%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    height: auto;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
}

nav ul li a:hover {
    color: var(--text-color);
}

.Agenda {
    background-color: #ff6f00;
    padding: 10px;
    color: var(--text-secundary-color);
}

.contact {
    margin: 0 10% 0 10%;
}

.route-icon-text {
    display: flex;
    align-items: center;
    justify-content: start;
}

.home-icon {
    margin-right: 2px;
    fill: #000;

}

.formulario-container {
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#formAgendamento {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

#formAgendamento .linha {
    display: flex;
    gap: 70px;
    justify-content: space-between;
    margin-bottom: 10px;
}

#formAgendamento .campo {
    flex: 1;
    margin-right: 10px;
}

#formAgendamento .campo:last-child {
    margin-right: 0;
}

#formAgendamento input[type="text"],
#formAgendamento input[type="email"],
#formAgendamento input[type="tel"],
#formAgendamento select {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

#formAgendamento button {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 20px; 
    background-color: white; 
    color: black; 
    border: none; 
    cursor: pointer; 
    font-size: 16px;
}

#formAgendamento i.fab {
    font-style: normal;
    color: #000000;
    font-size: 30px;
    margin-right: 10px;


}


#formAgendamento button:hover {
    background-color: var(--seta-menu);
}

@media (max-width: 600px) {
    #formAgendamento .linha {
        flex-direction: column;
    }

    #formAgendamento .campo {
        margin-right: 0;
    }
}

footer {
    width: 75%;
    background-color: #fff;
    border-bottom: 3px solid #E1E1E1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1100px;
    margin: 0 auto;
}

.footer-logo img {
    height: 120x;/
}

.footer-nav a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    font-size: 24px;
}

.footer-social a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    font-size: 16px;
}


i.fab {
    font-style: normal;
    color: #000000;
    font-size: 30px;
}